@import "bootflat_fix";


body {
  color: #333;
      font-family: "Lato", Helvetica, Arial, sans-serif;
}

.main-wrapper {
  margin-top: 72px;

  ul {
    padding: 0;

    li {
      a {
        padding-right: 15px;
        color: #5D5D5D;
        text-decoration: none;
        font-size: 13px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

a {
  color: #2980B9;

  &:hover {
    cursor: pointer;
    color: #3498DB;
  }
}

.background-light-gray {
  background-color: #F7F7F7;
}

.bordered {
  border-right: 1px solid #eee;
}
.centered {
  text-align: center;
}
.remove{
  padding-right: 10px;
  color: white;
  cursor: pointer;
}

.bp {
    width: 47%;
    float: left;
    margin: 0 20px 20px 0;
}

.bt {
    width: 47%;
    float: left;
    margin: 0 20px 20px 0;
}
.pulse-panel{
    width: 47%;
    float: left;
    margin: 0 20px 20px 0;
}
.height-panel{
    width: 47%;
    float: left;
    margin: 0 20px 20px 0;
}
.weight-panel{
    width: 47%;
    float: left;
    margin: 0 20px 20px 0;
}