.panel-body ul {
  margin-left: 15px;
  list-style: initial; }

.panel-body li {
  font-size: 13px; }

.panel-title {
  font-size: 22px !important;
  color: #434A54 !important;
  font-weight: normal !important;
  font-weight: 300 !important; }
